/* Estilos del contenedor principal */
.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea los elementos hacia arriba */
    min-height: 80vh; /* Altura mínima del viewport */
  }

  /* Estilos de los parqueos */
  .parqueo {
    width: 10%; /* Ancho relativo al contenedor principal */
    padding-top: 10%; /* Altura relativa al ancho para mantener la relación de aspecto */
    border: 2px solid black;
    margin: 2%; /* Espacio entre los parqueos */
    position: relative;
    cursor: pointer;
  }
  
  /* Estilos del contenido dentro de los parqueos */
  .contenido-parqueo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw; /* Tamaño de fuente relativo al ancho del viewport */
  }
  
  /* Estilos al pasar el mouse por encima */
  .parqueo:hover {
    background-color: lightblue;
  }
  
  /* Estilos del pie de página */
  footer {
    width: 100%;
    text-align: center;
    margin-top: auto; /* Coloca el pie de página al final de la página */
  }
  
  .footer-icons {
    display: flex;
    justify-content: space-around;
  }
  
  .icon {
    width: 30px;
    height: auto;
  }
  
  /* Estilos responsivos */
  @media only screen and (max-width: 768px) {
    .logo {
      height: 30px; /* Reducir la altura de la imagen en dispositivos más pequeños */
    }
  
    .header-icon {
      width: 25px;
      margin-right: 15px;
    }
  
    .buscar-btn {
      font-size: 14px;
    }
  
    /* Ajustes adicionales para los parqueos en dispositivos móviles */
    .parqueo {
      width: 40%; /* Ancho mayor en dispositivos móviles */
      padding-top: 40%; /* Altura mayor en dispositivos móviles */
    }
  
    .contenido-parqueo {
      font-size: 4vw; /* Tamaño de fuente mayor en dispositivos móviles */
    }
  }

/* Estilos del botón redondo */
.round-button {
  position: absolute; /* Coloca el botón en posición absoluta */
  bottom: 20px; /* Distancia desde la parte inferior */
  right: 20px; /* Distancia desde el lado derecho */
  z-index: 999; /* Asegura que el botón esté por encima de otros elementos */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0a247a;
  border: none;
  cursor: pointer;
}

.round-button img {
  width: 30px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

