
 
  /* Estilos responsivos */
  @media only screen and (max-width: 768px) {
    .logo {
      height: 30px; /* Reducir la altura de la imagen en dispositivos más pequeños */
    }
    .signo{
        height: 10vh;
    }
    .header-icon {
      width: 25px;
      margin-right: 15px;
    }
  
    .buscar-btn {
      font-size: 14px;
    }
    .contenedor{
        margin: 55px 0;
    }
  
    /* Ajustes adicionales para los parqueos en dispositivos móviles */
    .parqueo {
      width: 40%; /* Ancho mayor en dispositivos móviles */
      padding-top: 40%; /* Altura mayor en dispositivos móviles */
    }
    .contenido-parqueo {
      font-size: 3vw; /* Tamaño de fuente mayor en dispositivos móviles */
    }
    .contenido-parqueo p{
        padding-left: 10px;
    }
    .contenido-parqueo img{
        padding-left: 10px;
    }
    
  }
  @media only screen and (max-width: 700px) {
    .logo {
      height: 30px; /* Reducir la altura de la imagen en dispositivos más pequeños */
    }
  
    .header-icon {
      width: 25px;
      margin-right: 15px;
    }
  
    .buscar-btn {
      font-size: 14px;
    }
  
    /* Ajustes adicionales para los parqueos en dispositivos móviles */
    .parqueo {
      width: 40%; /* Ancho mayor en dispositivos móviles */
      padding-top: 40%; /* Altura mayor en dispositivos móviles */
    }
  
    .contenido-parqueo {
      font-size: 4vw; /* Tamaño de fuente mayor en dispositivos móviles */
    }
    .contenido-parqueo img{
        padding-left: 10px;
        width: 70px;
        height: 70px;
    }
    .contenedor{
        flex-direction: column;
        align-items: center;
      }
  }
  @media only screen and (max-width: 400px) {
    .logo {
      height: 30px; /* Reducir la altura de la imagen en dispositivos más pequeños */
    }
  
    .header-icon {
      width: 25px;
      margin-right: 15px;
    }
  
    .buscar-btn {
      font-size: 14px;
    }
  
    /* Ajustes adicionales para los parqueos en dispositivos móviles */
    .parqueo {
      width: 80%; /* Ancho mayor en dispositivos móviles */
    }
  
    .contenido-parqueo {
      font-size: 4vw; /* Tamaño de fuente mayor en dispositivos móviles */
      padding-left: 10px;
    }
  
    .contenido-parqueo img {
      width: 40px; /* Ajusta el tamaño de la imagen */
      height: 40px; /* Ajusta el tamaño de la imagen */
      margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    }
  
    .contenedor {
      flex-direction: column;
    }
  
    .parqueo {
      margin-bottom: 20px; /* Añade margen inferior en dispositivos móviles */
    }
  }
/* Estilos del botón redondo */
.round-button {
  position: absolute; /* Coloca el botón en posición absoluta */
  bottom: 20px; /* Distancia desde la parte inferior */
  right: 20px; /* Distancia desde el lado derecho */
  z-index: 999; /* Asegura que el botón esté por encima de otros elementos */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #0a247a;
  border: none;
  cursor: pointer;
}

.round-button img {
  width: 30px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

