/* chat.css */

.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ajusta según tus necesidades */
}

.chat-box {
    width: 80%;
    max-width: 600px;
    background: #f3f3f3;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.messages {
    height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.messages p {
    padding: 10px;
    background: #e3e3e3;
    border-radius: 5px;
    margin: 5px 0;
}

form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    background: #0a247a;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #041b6e;
}
